antlr4-python3-runtime==4.13.2
astor==0.8.1
cachetools==5.5.2
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
deprecation==2.1.0
google-auth==2.55.1
google-auth-oauthlib==1.4.0
grpcio==1.81.1
grpcio-tools==1.81.1
gspread==6.2.1
idna==3.18
iprotopy==0.3.0
mypy-protobuf==5.1.0
oauthlib==3.3.1
packaging==26.2
proto-schema-parser==2.1.0
protobuf==6.33.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
python-dateutil==2.9.0.post0
requests==2.34.2
requests-oauthlib==2.0.0
sentry-sdk==2.64.0
six==1.17.0
t-tech-investments==1.49.2
types-protobuf==7.34.1.20260518
typing_extensions==4.16.0
urllib3==2.7.0
