cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
deprecation==2.1.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
grpcio==1.71.0
gspread==6.2.0
idna==3.10
oauthlib==3.2.2
packaging==24.2
pip3-autoremove==1.2.2
protobuf==4.25.6
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dateutil==2.9.0.post0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.17.0
tinkoff==0.1.1
tinkoff-investments==0.2.0b110
urllib3==2.3.0
